@page "/product-list"

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Product List</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <p><a class="btn btn-success float-end" href="/add-product"> Add New Product </a></p>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"></div>
                            @if (productList == null || !productList.Any())
                            {
                                <div class="alert alert-info">There are no products available.</div>
                            }
                            else
                            {
                                <div class="card-body">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Quantity</th>
                                                <th>Image</th>
                                                <th>Price</th>
                                                @* <th>Brand</th> *@
                                                <th>Creat_at</th>
                                                <th>Update_at</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         @foreach (Product product in productList)
                                        {
                                         <tr>
                                         <td>@product.PId</td>
                                        <td>@product.Name</td>
                                        <td>@product.Quantity</td>
                                        <img src="@product.Image1" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
                                          <td>@product.Prices.FirstOrDefault(p => p.PId == product.PId)?.Price1.ToString()VND</td>
                                       @*  <td>@product.Brand?.BrandName</td> *@
                                        <td>@product.CreateAt</td>
                                        <td>@product.UpdateAt</td>
                                                <td>
                                                        <a class="btn btn-success" href="/Product/edit/@product.PId"> Edit </a>
                                                </td>
                                                <td>
                                                        <a class="btn btn-danger" href="/Product/delete/@product.PId"> Delete </a>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            }
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    public Brand brand { set; get; } = new();
    public List<Product>? productList { set; get; } = new();
    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();

    }

    private async Task LoadProducts()
    {
        productList = await ClientService.GetAllProduct();

    }

}

