@page "/user-list"
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">User List</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <p><a class="btn btn-success float-end" href="/add-product"> Add New User </a></p>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"></div>
                            @if (userList == null || !userList.Any())
                            {
                                <div class="alert alert-info">There are no products available.</div>
                            }
                            else
                            {
                                <div class="card-body">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>                              
                                                <th>Fullname</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Avata</th>
                                               
                                                <th>PhoneNumber</th>
                                                <th>Creat_at</th>
                                                <th>Update_at</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (User user in userList)
                                            {
                                                <tr>
                                                    <td>@user.Fullname</td>
                                                    <td>@user.Email</td>
                                                    <td>@user.Address</td>
                                                    <td>
                                                        <img src="@user.Avata" alt="User Image" style="max-width: 100px; max-height: 100px;" />
                                                    </td>
                                                    <td>@user.PhoneNumber</td>
                                                  
                                                    <td>@user.CreateAt</td>
                                                    <td>@user.UpdateAt</td>
                                                    <td>
                                                        <a class="btn btn-success" href="/User/edit/@user.UserId"> Edit </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger" href="/User/delete/@user.UserId"> Delete </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    public List<User> userList = new();
    protected override async Task OnInitializedAsync()
    {
        userList = await userService.GetAllUser();

    }
}
